body {
	background-color: #c8c8c8;
	font-family: Tahoma, Geneva, sans-serif;
}

#content{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -300px;
	height: 400px;
	width: 600px;
	background: url('../resources/graphics/bg.png') no-repeat;
}

label {
	font-weight: normal;
}

#form {
	font-size: 18px;
	margin-top: 120px;
	margin-left: 150px;
}

.inputs {
	margin-left: 15px;
}

.log {
	width: 90px;
	float: right;
	margin-right: 145px;
}

.fontLog {
	font-size: 14px;
}
